<div class="container-fluid">
    <!-- Footer -->
    <div class="row pie_pagina">
        <div class="col-md-4 agroapp">
            <img src="../../../assets/img/logo_blanco.png" alt="">
            <p>Transformamos la economía de Honduras <br> facilitando a los productores una <br> aplicación para la compra y venta de <br> todos los derivados de la agricultura.</p>
        </div>
        <div class="col-md-4 agroapp redes_sociales">
            <p>Nuestras redes sociales</p>
            <div class="logos_redes">
                <img src="../../../assets/img/logo_twitter.png" alt="">
                <img src="../../../assets/img/logo_youtube.png" alt="">
                <img src="../../../assets/img/logo_facebook.png" alt="">
                <img src="../../../assets/img/logo_instagram.png" alt="">
            </div>
        </div>
        <div class="col-md-4 agroapp faq">
            <a href="#">Preguntas frecuentes</a>
            <a href="#">Contáctanos</a>
            <a href="#">Términos y condiciones</a>
            <a href="#">Privacidad</a>
        </div>
    </div>
    <div class="row made_in">
        <hr>
        <p>De Honduras con 💚para el mundo</p>
    </div>
</div>