.pie_pagina{
    background-color: #283631;
    padding: 40px;
}

.agroapp{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.agroapp img{
    max-width: 150px;
    margin-bottom: 20px;
}

.agroapp p{
    color: white;
    font-size: 14px;
    margin-bottom: 0;
}

.agroapp .logos_redes{
    margin-top: 25px;
}

.agroapp .logos_redes img{
    max-width: 25px;
    max-height: 25px;
    margin-left: 10px;
    margin-right: 10px;
}

.agroapp a{
    text-decoration: none;
    color: white;
    text-align: right;
}

.made_in{
    background-color: #283631;
    display: flex;
    flex-direction: column;
}

.made_in hr{
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    border-top: 1px solid white;
}

.made_in p{
    color: white;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}