.filtros_productos_vista_productos{
    padding: 0;
}

.espacio_productos{
    width: 100%;
    height: 100vh;
    background-color: #ffffff;
    overflow-y: scroll;
}

.productos{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.espacio_productos .tarjeta{
    /* margin-left: 100px; */
    margin-right: 80px;
    margin-top: 20px;
}

.espacio_productos .tarjeta .card{
    width: 250px !important;
    height: 400px !important;
    border: 1px solid #DEDEDE;
    padding: 4px;
}

.tarjeta .card img{
    width: 100%;
    border-radius: 10px;
}

.tarjeta .card .card-body{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.tarjeta .card .card-body p{
    margin: 0;
}

.titulo{
    margin: 0;
    color: #777777;
    font-weight: 800;
}

.precio{
    color: #CC1C39;
    font-weight: 800;
}

.fecha{
    font-size: 14px;
}

.tarjeta .card a{
    width: 100% !important;
    border: 1px solid #C18F00;
    background-color: #F7BC13;
    color: #1D1B1B;
    font-weight: 800;
}