<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 filtros_productos_vista_productos">
            <app-filtros-productos></app-filtros-productos>
        </div>
        <div class="col-md-10 espacio_productos"  *ngIf="product">
            <div class="row productos">
                <div class="col-md-2 tarjeta" *ngFor="let item of product">
                    <div class="card" (click)="verProducto(item.id)">
                        <img src="../../../assets/img/vista_productos_chile.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="titulo">{{item.name}}</h5>
                            <p class="precio">L. {{item.price}}</p>
                            <p class="fecha">Fecha: 15-09-2019</p>
                            <a href="#" class="btn btn-primary agregar_carrito">Agregar al carrito</a>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>