<div class="justify-content-md-center">
    <div class="col-md-8 izquierda_contenido">
        <!-- Aqui comienza el mensaje de bienvenida -->
        <div class="mensaje_bienvenida">
            <div class="row">
                <div class="col-md-6">
                    <h3>¡Hola, {{ userInfo.unique_name }}!</h3>
                    <h4>¿Haz cosechado algo nuevo?</h4>
                    <p>
                        Tus productos se visualizan a miles de compradores <br>
                        potenciales mediante nuestra plataforma.
                    </p>
                    <button [routerLink]="[ '/user/addProduct']">Agregar producto +</button>
                </div>
                <div class="col-md-6">
                    <img src="../../../assets/img/granjero1.png" alt="">
                </div>
            </div>
        </div>
        <!-- Aqui termina el mensaje de bienvenida -->
        <!-- Aqui comienza el row de ordenes de compra y actualizaciones -->
        <div class="row">
            <!-- Aqui comienza la caja de ordenes de compra -->
            <div class="col-md-6">
                <div class="ordenes_compra">
                    <h5>Ordenes de compra</h5>
                    <!-- Cliente 1 -->
                    <div class="row">
                        <div class="col-3">
                            <img src="../../../assets/img/rostro1_pedido.png" alt="">
                        </div>
                        <div class="col-9">
                            <div class="row">
                                <div class="col-6">
                                    <h6>Fernando Muñoz</h6>
                                </div>
                                <div class="col-6">
                                    <p>21 de agosto 2019</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <p>Orden: #00001</p>
                                </div>
                                <div class="col-6">
                                    <p class="valor_orden">Valor: L.20,000.00</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <!-- Cliente 2 -->
                    <div class="row">
                        <div class="col-3">
                            <img src="../../../assets/img/rostro2_pedido.png" alt="">
                        </div>
                        <div class="col-9">
                            <div class="row">
                                <div class="col-6">
                                    <h6>Carmen Reyes</h6>
                                </div>
                                <div class="col-6">
                                    <p>21 de agosto 2019</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <p>Orden: #00002</p>
                                </div>
                                <div class="col-6">
                                    <p class="valor_orden">Valor: L.20,000.00</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <!-- Cliente 3 -->
                    <div class="row">
                        <div class="col-3">
                            <img src="../../../assets/img/rostro3_pedido.png" alt="">
                        </div>
                        <div class="col-9">
                            <div class="row">
                                <div class="col-6">
                                    <h6>Elias Perez</h6>
                                </div>
                                <div class="col-6">
                                    <p>21 de agosto 2019</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <p>Orden: #00003</p>
                                </div>
                                <div class="col-6">
                                    <p class="valor_orden">Valor: L.20,000.00</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Aqui termina la caja de ordenes de compra -->
            <!-- Aqui comienza caja de actualizaciones -->
            <div class="col-md-6">
                <div class="actualizaciones">
                    <h5>Actualizaciones</h5>
                    <div class="row info_actualizacion">
                        <div class="col-7">
                            <p>Actualizamos la manera de agregar productos, ahora es aún más sencillo.</p>
                        </div>
                        <div class="col-5">
                            <p class="fecha">Abril 27</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row info_actualizacion">
                        <div class="col-7">
                            <p>Sistema de reconocimiento actualizado.</p>
                        </div>
                        <div class="col-5">
                            <p class="fecha">Abril 27</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row info_actualizacion">
                        <div class="col-7">
                            <p>Métodos de pagos actualizados.</p>
                        </div>
                        <div class="col-5">
                            <p class="fecha">Abril 27</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Aqui termina caja de actualizaciones -->
        </div>
    </div>
</div>


