<div class="container-fluid">
    <div class="row">
        <!-- Aqui contiene todo el menu lateral -->
        <app-nav (producto)="irProducto()" ></app-nav>
        <!-- Aqui termina todo el contenido del menu lateral -->

        <!-- Aqui contiene todo el contenido principal -->
        <div class="col-md-10 area_contenido">
            <!-- Contenedor principal del contenido principal -->
            <div class="contenido">
                <!-- Fila que contiene el buscador y usuario -->
                <app-top-nav></app-top-nav>
                <div class="row contenido2">
                    <router-outlet></router-outlet>
                </div>
                <!-- Termina la fila que contiene el buscador y usuario -->
            </div>
            <!-- Aqui termina el contenedor principal de contenido -->
        </div>
        <!-- Aqui termina todo el contenido principal -->
    </div>
</div>





