<!-- <div class="container-fluid categorias_productos"> -->
    <!-- <div class="row"> -->
        <!-- Barra de filtro -->
        <div class="d-none d-sm-none d-md-block barra">
            <div class="row">
                <div class="col-md-12">
                    <div class="buscar_productor">
                        <p>Buscar por productor:</p>
                        <input type="text" class="form-control" placeholder="@usuario">
                    </div>
                    <div class="buscar_ranking">
                        <p>Buscar por ranking:</p>
                        <ngb-rating [(rate)]="this.currentRate"></ngb-rating>
                        <hr>
                        <pre>Rate: <b>{{this.currentRate}}</b></pre>
                    </div>
                </div>
            </div>
        </div>
    <!-- </div> -->
<!-- </div> -->