.barra{
    background-color: #DFE2D9;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: flex-start;
    padding: 10px;
}

.buscar_productor{
    margin-top: 18px;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
}

.buscar_productor p{
    margin-bottom: 8px;
}

.buscar_productor input{
    width: 80%;
    height: 40px;
    margin: 0;
}

.buscar_productor input::placeholder{
    color: #8FBA33;
}