<div class="container-fluid">
    <!-- Slider -->
    <div class="row">
        <div id="carousel" class="carousel slide" data-ride="carousel">
            <!-- Imagenes Slider -->
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block w-100" src="../../../assets/img/home_slider.png" alt="First slide">
                </div>
            </div>
            <!-- Controles -->
            <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Anterior</span>
            </a>
            <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Siguiente</span>
            </a>
        </div>
    </div>
    <!-- Nuestras Categorias -->
    <div class="row nuestras_categorias">
        <div class="col-md-12 titulo">
            <h3>Nuestras Categorias</h3>
        </div>
        <div class="col-md-12 categorias">
            <div class="categoria" *ngFor="let item of category" (click)="verProductByCategory(item.id)" >
                <a>{{item.name}}</a>
            </div>
           
        </div>
    </div>
    <!-- Productores destacados -->
    <div class="row productores_destacados">
        <div class="col-md-12">
            <h3>Productores destacados:</h3>
        </div>
        <div class="col-md-12 productores">
            <div class="productor">
                <img src="../../../assets/img/home_productor1.png" alt="">
                <p>Productor 1</p>
            </div>
            <div class="productor">
                <img src="../../../assets/img/home_productor1.png" alt="">
                <p>Productor 2</p>
            </div>
            <div class="productor">
                <img src="../../../assets/img/home_productor1.png" alt="">
                <p>Productor 3</p>
            </div>
            <div class="productor">
                <img src="../../../assets/img/home_productor1.png" alt="">
                <p>Productor 4</p>
            </div>
            <div class="productor">
                <img src="../../../assets/img/home_productor1.png" alt="">
                <p>Productor 5</p>
            </div>
            <div class="productor">
                <img src="../../../assets/img/home_productor1.png" alt="">
                <p>Productor 6</p>
            </div>
        </div>
    </div>
    <!-- Historias y testimonios -->
    <div class="row historias_testimonios">
        <div class="col-md-12">
            <h3>Historias y testimonio</h3>
        </div>
        <div class="col-md-12 historias">
            <div class="historia">
                <div class="texto">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad ea, distinctio consequatur dolore exercitationem omnis, numquam maiores in placeat tenetur repellat modi quae deserunt quas quo repudiandae voluptas eaque soluta.</p>
                </div>
                <div class="autor">
                    <img src="../../../assets/img/home_productor1.png" alt="">
                    <p>Productor</p>
                </div>
            </div>
            <div class="historia">
                <div class="texto">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad ea, distinctio consequatur dolore exercitationem omnis, numquam maiores in placeat tenetur repellat modi quae deserunt quas quo repudiandae voluptas eaque soluta.</p>
                </div>
                <div class="autor">
                    <img src="../../../assets/img/home_productor1.png" alt="">
                    <p>Productor</p>
                </div>
            </div>
            <div class="historia">
                <div class="texto">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad ea, distinctio consequatur dolore exercitationem omnis, numquam maiores in placeat tenetur repellat modi quae deserunt quas quo repudiandae voluptas eaque soluta.</p>
                </div>
                <div class="autor">
                    <img src="../../../assets/img/home_productor1.png" alt="">
                    <p>Productor</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Alianzas -->
    <div class="row alianzas">
        <div class="col-md-12">
            <h3>Nuestras alianzas</h3>
        </div>
        <div class="col-md-12 logos">
            <img src="../../../assets/img/logo_shopify.png" alt="">
            <img src="../../../assets/img/logo_linkedin.png" alt="">
            <img src="../../../assets/img/logo_paypal.png" alt="">
        </div>
    </div>
</div>