.container-fluid{
    background-color: #FFFF;
    font-family: 'Raleway', sans-serif;
}

.nuestras_categorias{
    margin: 40px 40px 40px 40px;
    /* background: #ffffff; */
}

h3{
    text-align: center;
    color: #696969;
    font-size: 40px;
}

.categorias{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.categoria{
    height: 150px;
    width: 400px;
    border-radius: 12px;
    background-image: url("../../../assets/img/home_fondo_categoria1.png");
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.categoria a{
    font-size: 40px;
    font-weight: 700;
    text-decoration: none;
    color: white;
    text-align: center;
}

.productores_destacados{
    padding: 20px;
    background-color: #F4F6F0;
    /* height: 400px; */
    /* display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between; */
}

.productores{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.productor{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 210px;
    height: 250px;
    /* background-color: yellowgreen; */
    overflow: hidden;
}

.productor img{
    /* min-width: 50px;
    min-height: 50px; */
    max-width: 200px;
    max-height: 200px;
}

.historias_testimonios{
    /* background: chartreuse; */
    padding-top: 40px;
    padding-bottom: 40px;
}

.historias{
    margin-top: 18px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.historia{
    margin-left: 10px;
    margin-right: 10px;
}

.historia .texto{
    height: 150px;
    width: 400px;
    background-color: #F2F2F2;
    border-radius: 8px;
}

.historia .texto p{
    padding: 14px;
    font-size: 14px;
}

.historia .autor{
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
}

.historia .autor img{
    max-width: 50px;
    max-height: 50px;
}

.historia .autor p{
    margin-bottom: 0;
    margin-left: 10px;
}

.alianzas{
    background-color: #485550;
    padding: 40px;
}

.alianzas h3{
    color: white;
}

.logos{
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.logos img{
    margin-left: 50px;
    margin-right: 50px;
    max-width: 80px;
    max-height: 80px;
}