<div>
    <!--Form de inicio de sesión-->
    <div class="container-fluid">
        <div class="row contenedor-login">
            <div class="col-md-6 login_datos">
                
                <img src="../../../assets/img/logo.png" alt="" class="logo mb-5" [routerLink]="['home']">
                <div *ngIf="!register">
                    <div class="info_login mt-5">
                        <h1 class="titulo">Inicio de Sesión</h1>
                        <form action="" class="form_login">
                            <input type="email" [(ngModel)]="model.username" name="username"
                                placeholder="Escriba su correo"><br>
                            <input type="password" (keyup)="enterKeyPressed($event)" [(ngModel)]="model.password"
                                name="password" placeholder="Escriba su contraseña">
                        </form>
                        <button (click)="login()">Ingresar</button>
                    </div>
                    <div class="enlace mt-3">
                        <a href="#">¿Olvido su contraseña?</a>
                        <a (click)="changeRegister()">Registrarse</a>
                    </div>
                </div>

                <div *ngIf="register">
                    <div class="info_login mt-5">
                        <h1 class="titulo">Registrarse</h1>
                        <form action="" class="form_login">

                            <input [(ngModel)]="registerModel.username" type="text"
                                (keyup)="validateUser(registerModel.username)" name="username" required
                                placeholder="Correo">
                            <p *ngIf="userExist" class="alert-danger">El nombre de usuario ya existe.</p>


                            <input [(ngModel)]="registerModel.password" name="password" type="password" required
                                class="form-control" placeholder="Contraseña">

                            <input [(ngModel)]="registerModel.confirmPassword" (keyup)="validateRegisterPasswords()"
                                name="password" type="password" required class="form-control"
                                placeholder="Confirmar Contraseña">

                            <p *ngIf="confirmPasswords" class="m-1 alert-danger">
                                Las contraseñas no coinciden
                            </p>
                        </form>
                        <div *ngIf="!confirmPasswords && !userExist">
                            <button (click)="registerUser()">Registrarse</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 login_imagen">

            </div>
        </div>
    </div>

</div>
