body{
    font-family: 'Raleway', sans-serif;
}

.contenedor-login{
    height: 100vh;
    background-color: white !important;
}

.login_datos{
    /* background-color: aqua; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/* .login_datos img{
    display: ;
} */

.login_imagen{
    background-image: url("../../../assets/img/login_imagen.png");
    background-size: cover;
}

.login_datos{
    /* 
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; */
    display: flex;
    flex-direction: column;
    padding: 100px 50px;
}

.login_datos img{
    width: 30%;
}

.login_datos{
    text-align: center;
}

.titulo{
    color: #12402F;
    font-size: 40px;
    margin-bottom: 45px;
}

.form_login input{
    text-align: center;
    width: 400px;
    height: 40px;
    margin-bottom: 50px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 3px 6px #00000029;
}

.form_login input::placeholder{
    color: #13402E;
    opacity: 0.5;
}

.form_login input:focus{
    outline: none;
    border-color: #7AA66B;
    box-shadow: 0 0 10px #7AA66B;
    /* outline: 0px 3px 6px #7AA66B; */
    /* box-shadow: 0px 3px 6px #7AA66B; */
}

.info_login button{
    width: 400px;
    height: 50px;
    border: none;
    background-color: #7AA66B;
    font-size: 24px;
    font-weight: 600;
    color: #FFFFFF;
    border-radius: 5px;
}

.info_login button:hover{
    background-color: #9DCC8D;
}

.enlace{
    display: flex;
    flex-direction: column;
}

.enlace a{
    font-size: 14px;
    color: #13402E;
    text-decoration: none;
}