<div class="addProduct">
    <form>
        <div class="form-group">
            <label>Nombre</label>
            <input type="text" [(ngModel)]="product.name" name="ProductName" class="form-control">
        </div>

        <div class="form-group">
            <label>Descripcion</label>
            <input type="text" [(ngModel)]="product.description" name="ProductDescription" class="form-control">
        </div>

        <div class="form-group">
            <label>Cantidad</label>
            <input type="number" [(ngModel)]="product.quantity" name="ProductQuantity" class="form-control">
        </div>
        <div class="form-group">
            <label>Precio</label>
            <input type="text" [(ngModel)]="product.price" name="ProductPrice" class="form-control">
        </div>
        <div *ngIf="categories != undefined" class="form-group">
            <label>Categoria</label>
            <input [(ngModel)]="selected" name="Category" [typeahead]="categories" typeaheadOptionField="name"
                (typeaheadOnSelect)="onSelect($event)" class="form-control">
        </div>
        <br>
        <input type="button" value="Agregar" (click)="addProduct()" class="btn btn-outline-success">
    </form>
</div>