.top_menu{
    background-color: #485550;
    padding: 18px;
}

.logo_topmenu{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo_topmenu img{
    max-width: 150px;
}

.barra_busqueda{
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-group-prepend span{
    background-color: #C0EB6A;
}

.opciones{
    display: flex;
    justify-content: center;
    align-items: center;
}

.opciones a img{
    max-width: 30px;
    margin-left: 15px;
    margin-right: 15px;
}

.menu_secundario{
    background-color: #F4F6F0;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.enlaces_categorias{
    display: flex;
    justify-content: center;
}

.enlaces_categorias a{
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    color: #696969;
    margin-left: 30px;
    margin-right: 30px;
}