<div class="container-fluid">
    <div class="row top_menu">
        <!-- Logo -->
        <div class="col-md-3 logo_topmenu">
            <a [routerLink]="['home']">
                <img src="../../assets/img/logo_blanco.png" alt="">
            </a>
            
        </div>
        <!-- Barra de busqueda -->
        <div class="col-md-6 barra_busqueda">
            <div class="input-group md-form form-sm form-1 pl-0">
                <div class="input-group-prepend">
                    <span class="input-group-text purple lighten-3" id="basic-text1"><i class="fas fa-search text-white" aria-hidden="true"></i></span>
                </div>
                <input class="form-control my-0 py-1" type="text" placeholder="Busca algo aquí..." aria-label="Search">
            </div>
        </div>
        <!-- Opciones derecha -->
        <div class="col-md-3 opciones">
            <!--<a href="#">
                <img src="../../assets/img/top_menu_ordenes.png" alt="">
            </a>-->
            <a [routerLink]="['shoppingcar']">
                <img src="../../assets/img/top_menu_carrito.png" alt="">
            </a>
            <div class="btn-group" dropdown>
                <img src="../../assets/img/top_menu_usuario.png">
                <button id="button-animated" dropdownToggle type="button" class="btn dropdown-toggle"
                    aria-controls="dropdown-animated">
                    <div *ngIf="user">{{user.unique_name}}</div>
                     <span class="caret"></span>
                </button>
                
                <ul id="dropdown-animated" *dropdownMenu class="dropdown-menu" role="menu"
                    aria-labelledby="button-animated">
                    <li role="menuitem"><a [routerLink]="['user/profile']" class="dropdown-item" *ngIf="isLogged">Perfil</a></li>
                    <li role="menuitem"><a [routerLink]="['/login']" class="dropdown-item" *ngIf="!isLogged">Iniciar Sesión</a></li>
                    <li role="menuitem"><a class="dropdown-item" (click)="signOut()" *ngIf="isLogged" >Salir</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row menu_secundario">
        <div class="col-md-12 enlaces_categorias" *ngIf="category">
            <a href="#" [routerLink]="['productByCategory', item.id]" *ngFor="let item of category">{{ item.name}}</a>
            
        </div>
    </div>
</div>
