.form-control:focus {
    border-color: #28a745;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 0.2rem rgba(40, 167, 69, 0.25);;
  }

.background{
    background-color: lemonchiffon;
}

.iconcolor {
    color: orange;
} 

hr.color {
    border-top: 1px solid #28a745;
  }

.colorfont{
  color: lightgrey;
}

.heading{
  color: gray;
  font-size: small;
}

.tab{
  padding-left: 80px;
}

.tab1{
  padding-left: 30px;
}

.tab2{
  padding-left: 43px;
}

.tab3{
  padding-left: 35px;
}

.select{
  width: 110px;
  height: 32px;
}

.tab4{
  padding-top: 8px ;
}

hr.padding{
  margin-left: 100px;
  padding-left: 5px;
  border-top: 1px solid #28a745;
}

.subrayado {
  border-bottom: 1px solid #28a745;
  padding-bottom: 3px;
}

.section{
  float: left;
  padding-left: 80px;
 
}

.section1{
  float: left;
  padding-left: 80px;
 
}

.img{
  width: 115px;
  height: 110px;
  padding-top: 20px;
  padding-left: 10px;
}

.color-font{
  color: red;
}

.scroll {
  max-height: 500px;
  overflow-y: auto;
}