<br>
<div class="container col-md-10">
<div class="card-deck">
        <div class="card" style="width: 100rem;">
          <div class="card-body">
                <h4 class="card-title text-center" ><strong>Dirección de envío</strong></h4>
            <form>
                    <div class="form-group">
                      <label for="InputName">Nombre Completo*</label>
                      <input type="text" class="form-control" id="Name"  placeholder="Ingrese su nombre">
                    </div>
                    <div class="form-group">
                      <label for="InputAddress">Dirección*</label>
                      <input type="Text" class="form-control" id="Address" placeholder="Ingrese su dirección">
                    </div>
                    <div class="form-group">
                            <label for="InputCity">Ciudad*</label>
                            <select class="form-control" id="City">
                                    <option>San Pedro Sula</option>
                                    <option>Puerto Cortés</option>
                                    <option>Santa Rosa de Copán</option>
                                    <option>Danlí</option>
                                    <option>La Esperanza</option>
                            </select>
                    </div>
                    <div class="form-group">
                            <label for="InputDepartment">Departamento*</label>
                            <select class="form-control" id="Department">
                                    <option>Cortés</option>
                                    <option>Copán</option>
                                    <option>Intibucá</option>
                                    <option>La Paz</option>
                                    <option>Atlántida</option>
                            </select>
                    </div>
                    <div class="form-group">
                            <label for="InputPhone">Número de Teléfono*</label>
                            <input type="Text" class="form-control" id="Phone" placeholder="Ingrese su teléfono">
                    </div>
                    <div class="form-group">
                            <label for="InputInformation">Información Adicional*</label>
                            <input type="Text" class="form-control" id="Information" >
                    </div>
                  </form>
          </div>
        </div>
        <div class="card" style="width: 100rem;" >
                <h4 class="card-title text-center" style="padding-top: 20px;" ><strong>Producto</strong></h4>
           <div class="card-body scroll" >
                <div class="card mb-3" style="max-width: 540px;" *ngFor="let product of products; let i = index" >
                                <div class="row no-gutters">
                                  <div class="col-md-4">
                                    <img src="https://www.apicius.es/wp-content/uploads/2017/05/Chiles-frescos-759x500.jpg" class="card-img img" >
                                  </div>
                                  <div class="col-md-8">
                                    <div class="card-body">
                                      <h6 class="card-title"><b>{{product.name}}</b></h6>
                                      <h6 class="card-title color-font"><b>L. {{product.price}}</b></h6>
                                      <label>Cant.</label>&nbsp;
                                      <label class="heading">
                                                <div class="form-group">
                                                        <input type="text" class="form-control" value="{{shoppingCars[i].quantity}}">
                                                </div>
                                        </label>
                                    </div>
                                  </div>
                                </div>
                              </div>
          </div>
        </div>
        <div class="card" style="width: 100rem;">
            <div class="card-body">
                    <h4 class="card-title text-center" ><strong>Métodos de pago</strong></h4>
                    <br>
                    <div class="shadow p-3 mb-5 background rounded">
                            <label class="radio-inline"><input type="radio" name="optradio">&nbsp;</label>
                            <i class="fab fa-cc-visa iconcolor" ></i>
                            <label><strong>&nbsp; Visa</strong></label>
                            <label class="colorfont">&nbsp;&nbsp;terminación 9999</label>
                            <br>
                            <label class="heading">Experto:</label>
                            <label class="heading tab">Expira en:</label>
                            <label class="heading tab3">Cobro en:</label>
                            <br>
                            <label class="heading">Fernando Muñoz</label>
                            <label class="heading tab1">08/1995</label>
                            <label class="heading tab2">
                                <select class="form-control select heading">
                                        <option class="heading">Lempiras</option>
                                        <option class="heading">Dólares</option>
                                </select>
                        </label>
                      
                    </div>
                    <div class="shadow p-3 mb-5 background rounded">
                            <label class="radio-inline"><input type="radio" name="optradio">&nbsp;</label>
                            <i class="fab fa-cc-mastercard iconcolor" ></i>
                            <label><strong>&nbsp; Matercard</strong></label>
                            <label class="colorfont">&nbsp;&nbsp;terminación 9999</label>
                            <br>
                            <label class="heading">Experto:</label>
                            <label class="heading tab">Expira en:</label>
                            <label class="heading tab3">Cobro en:</label>
                            <br>
                            <label class="heading">Fernando Muñoz</label>
                            <label class="heading tab1">08/1995</label>
                            <label class="heading tab2">
                                <select class="form-control select heading">
                                        <option class="heading">Lempiras</option>
                                        <option class="heading">Dólares</option>
                                </select>
                        </label>
                    </div>
                    <h6 class="tab4"><strong>Agregar otro método de pago</strong></h6>
                    <hr class="color"/>
                    <button type="button" class="btn btn-link ">
                        <i class="fas fa-plus"></i>
                     </button>
                     <i class="far fa-credit-card iconcolor"></i>
                     <label>&nbsp;Tarjeta crédito/débito</label>
                     <br>
                     <button type="button" class="btn btn-link ">
                            <i class="fas fa-plus"></i>
                    </button>
                    <i class="fas fa-wallet iconcolor"></i>
                    <label>&nbsp;Cuenta Bancaria</label>
        </div>
        </div>
   
      </div>
      <br>
      <br>

      <h4><b>Resumen de pedido:</b></h4>
<div class="row col-md-12">
        <div>
        <table>
              
              <tr>
                <td>Productos:</td>
                <td>L. {{billing.productos}}</td>
  
              </tr>
              
              <tr>
                <td>Envío: </td>
                <td><span class="subrayado">L. {{billing.envio}} </span></td>
              </tr>

              <tr>
                <td>Total sin ISV:</td>             
                <td>L. {{billing.subtotal}}</td>
              </tr>

              <tr>
                <td>ISV (15%):</td>
                <span class="subrayado">L. {{billing.isv}} </span>
              </tr>

              <tr>
                <td class="color-font"><b>Total de la orden:</b></td>
                <td class="color-font"><b>L. {{billing.total}}</b></td>
              </tr>

        </table>

        </div>
             
<div class="section">
                <button type="button" class="btn btn-warning btn-lg">
                        <i class="fas fa-file-alt fa-4x"></i>                      
                        <b>Realizar Pedido</b>
                </button>
</div>


        </div>
</div>
<br>