<div class="row justify-content-md-center">
    <!-- Aqui comienza la barra de busqueda -->
    <div class="col-md-7 barra_busqueda">
        <div class="barra">
            <span class="fa fa-search"></span>
            <input type="text" placeholder="Buscar por producto, número de orden o cliente">
        </div>
    </div>
    <!-- Aqui termina la barra de busqueda -->
    <div class="col-md-5 user">
        <div class="info_usuario">
            <div class="notificacion">
                <img src="../../../assets/img/notificacion.png" alt="">
            </div>
            
            
        </div>
    </div>
</div>