.menu_lateral{
    /* background-color: bisque; */
    height: 100vh;
}

.menu{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.logo_menu{
    margin-top: 25px;
    margin-bottom: 70px;
}

.items_menu{
    display: flex;
    flex-direction: column;
    margin-top: auto;
    margin-bottom: auto;
}

.items_menu a{
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 50px;
}

.agregar_productos_menu button{
    width: 230px;
    height: 50px;
    border: none;
    background: rgba(255,255,255,0.5);
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    border-radius: 5px;
    margin-top: 75px;
}

.agregar_productos_menu button span{
    opacity: 1;
}