<div class="col-md-2 menu_lateral">
    <!-- Contenedor principal de menu -->
    <div class="menu">
        <!-- Aqui va el logo de agroapp -->
        <div class="logo_menu">
            
            
        </div>
        <!-- Aqui termina el logo de agroapp -->
        <!-- Aqui comienza los items del menu -->
        <div class="items_menu">
                <div class="agregar_productos_menu">
                    <button (click)="irProducto()"><span>Productos</span></button>
                </div>
        </div>
        <!-- Aqui terminan los items del menu -->
        <!-- Aqui comienza el boton de agregar producto -->
        <div class="agregar_productos_menu">
            <button [routerLink]="[ '/user/addProduct']"><span>Agregar producto+</span></button>
        </div>
        <!-- Aqui termina el boton de agregar producto -->
    </div>
    <!-- Aqui termina el contenedor principal de menu -->
</div>