<div class="contenedor">

    <div class="mat-elevation-z12">

        <button 
          style="margin-left: 10px; margin-top: 10px; margin-bottom: 10px;" 
          mat-raised-button 
          color="primary" 
          [routerLink]="['/user/addProduct']"
        >Agregar Producto</button>
    
    
        <mat-divider></mat-divider>
        
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscador">
        </mat-form-field>
    
    
        <table mat-table [dataSource]="dataSource">
      
            <!-- Position Column -->
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef> Código </th>
              <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>
        
            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> Nombre </th>
              <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>
        
            <!-- Weight Column -->
            <ng-container matColumnDef="description">
              <th mat-header-cell *matHeaderCellDef> Descripción </th>
              <td mat-cell *matCellDef="let element"> {{element.description}} </td>
            </ng-container>
        
            <!-- Symbol Column -->
            <ng-container matColumnDef="price">
              <th mat-header-cell *matHeaderCellDef> Precio </th>
              <td mat-cell *matCellDef="let element"> {{element.price}} </td>
            </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>    
    </div>
    
    <mat-divider></mat-divider>
    
    
</div>

  

