/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '../node_modules/font-awesome/css/font-awesome.min.css';
@import '../node_modules/alertifyjs/build/css/alertify.min.css';
@import '../node_modules/alertifyjs/build/css/themes/bootstrap.min.css';

.main-color{
    color: #485550;
}

.bg-main{
    background-color: #485550;
}

.container-fluid{
    background-color: #7AA66B;
    font-family: 'Raleway', sans-serif;
}


.area_contenido{
    padding: 0px;
}

.contenido{
    width: 95%;
    background-color: white;
    height: 92%;
    margin: 30px;
    border-radius: 20px;
}

.barra span{
    color: #B4B4B4;
    position: absolute;
    left: 50px;
    top: 35px
}

.barra input{
    background-color: #F0F0F0;
    height: 50px;
    width: 500px;
    border: none;
    border-radius: 5px;
    margin-left: 20px;
    margin-top: 20px;
    padding: 10px;
    padding-left: 40px;
}

.barra input::placeholder{
    color: #B4B4B4;
    font-size: 14px;
}

.barra input:focus{
    outline: none;
    border-color: #7AA66B;
    box-shadow: 0 0 10px #7AA66B;
}

.info_usuario{
    /* background-color: aqua; */
    height: 50px;
    margin-right: 20px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}

.notificacion{
    width: 50px;
    height: 50px;
    background-color: #FDF0E7;
    margin-right: 50px;
    margin: auto;
    display: flex;
    align-items: center;
    border-radius: 5px;
}

.notificacion img{
    margin: auto;
}

.mensaje{
    width: 50px;
    height: 50px;
    background-color: #EDF3EA;
    margin-right: 50px;
    display: flex;
    align-items: center;
    border-radius: 5px;
}

.mensaje img{
    margin: auto;
}

.perfil{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.perfil p{
    margin-right: 30px;
    margin-bottom: 0px;
    font-size: 20px;
    font-weight: 600;
    color: #3B3B3B;
}

.perfil img{
    max-height: 50px;
    max-width: 50px;
    border-radius: 5px;
}

.contenido2{
    margin-top: 30px;
    margin-left: 30px;
    /* border: 1px solid black; */
    max-width: 95%;
    height: 80%;
    /* display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; */
}

.mensaje_bienvenida{
    width: 700px;
    height: 250px;
    background-color: #ECA85A;
    border-radius: 10px;
    padding: 25px 15px 15px 25px;
}

.mensaje_bienvenida h3{
    font-size: 24px;
    color: #ffffff;
    font-weight: 800;
}

.mensaje_bienvenida h4{
    font-size: 24px;
    color: #ffffff;
}

.mensaje_bienvenida p{
    font-size: 12px;
    color: #ffffff;
}

.mensaje_bienvenida button{
    background-color: #24262B;
    border: none;
    color: #ffffff;
    border-radius: 5px;
    height: 50px;
    width: 300px;
}

.mensaje_bienvenida img{
    height: 80%;
}

.ordenes_compra{
    background-color: #F0F0F0;
    height: 250px;
    width: 345px;
    border-radius: 15px;
    margin-top: 30px;
    /* margin-right: 10px; */
}

.actualizaciones{
    background-color: #F0F0F0;
    height: 250px;
    width: 345px;
    border-radius: 15px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}

.ordenes_compra h5{
    padding-left: 10px;
    padding-top: 15px;
    margin-bottom: 15px;
    font-weight: 800;
}

.ordenes_compra img{
    max-width: 40px;
    max-height: 40px;
    margin-left: 20px;
}

.ordenes_compra h6{
    font-size: 12px;
    color: #7CA766;
    font-weight: 600;
    margin-bottom: 0px;
}

.ordenes_compra p{
    font-size: 12px;
    margin-bottom: 0px;
}

.ordenes_compra .valor_orden{
    font-weight: 600;
}

.ordenes_compra .col-6{
    padding-left: 0px;
}

.actualizaciones h5{
    padding-left: 20px;
    /* padding-top: 15px; */
    margin-bottom: 15px;
    font-weight: 800;
}

.actualizaciones .info_actualizacion{
    margin-left: 40px;
}

.actualizaciones .info_actualizacion p{
    margin-bottom: 0px;
}

.actualizaciones p{
    font-size: 12px;
}

.actualizaciones .fecha{
    color: #7D7F81;
}

.actualizaciones hr{
    /* border: 1px solid black; */
    width: 90%;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
