/* .container-fluid{
    background-color: white;
    margin: 40px;
    padding: 0px;
} */

.single_page_product{
    margin: 40px;
    margin-bottom: 0px;
    font-family: 'Raleway';
}

.producto_imagenes{
    /* border: 1px solid black; */
}

.producto_imagen_principal img{
    border: 1px solid #707070;
    /* width: 400px; */
}

.producto_imagen_secundaria img{
    border: 1px solid #707070;
    /* width: 50px; */
}
.producto_info{
    /* border: 1px solid black; */
}

.producto_info h1{
font-size: 50px;
font-weight: 800;
color: #777777;
}

.producto_info p{
    font-size: 18px;
    color: #777777;
}

.producto_info h5{
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    color: #CC1C39;
}

.producto_agregar{
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.producto_agregar button{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: right;
    height: 150px;
    width: 250px;
    background-color: #F7BC13;
    border: 4px solid #C18F00;
    border-radius: 10px;
    font-size: 26px;
    font-weight: 800;
}

.producto_agregar button img{
    width: 50px;
    margin-right: 20px;
}

hr {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
    border: 2px solid #707070;
}

.raking_comentarios{
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 30px;
}

.ranking h6{
    color: #C0EB6A;
    font-size: 20px;
    font-weight: 800;
}

.ranking p{
    color: #485550;
    font-size: 20px;
    font-weight: 800;
    text-align: right;
}

.anuncio{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    height: 400px;
    background: #707070;
}

.anuncio p{
    font-size: 30px;
    font-weight: 800;
}

.comentario_info{
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.titulo_comentario p{
    font-size: 30px;
    font-weight: 800;
    color: #485550;
}

.cliente_imagen img{
    width: 80px;
}

.cliente_comentario{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F4F6F0;
    border-radius: 10px;
    padding: 20px;
}

.cliente_comentario p{
    margin: 0;
    color: #485550;
}
