<div class="row single_page_product" *ngIf="product">
    <!-- Solo imagenes del producto -->
    <div class="col-md-4 producto_imagenes">
        <!-- Imagen principal -->
        <div class="row">
            <div class="col-md-12 producto_imagen_principal">
                <figure>
                   <img class="img-fluid" src="../../../assets/img/single_product.png" alt="">
                </figure>
            </div>
        </div>
        <!-- Imagenes secundarias -->
        <div class="row">
            <div class="col-md-3 producto_imagen_secundaria">
                <img class="img-fluid" src="../../../assets/img/single_producto_img1.png" alt="">
            </div>
            <div class="col-md-3 producto_imagen_secundaria">
                <img class="img-fluid" src="../../../assets/img/single_producto_img2.png" alt="">
            </div>
            <div class="col-md-3 producto_imagen_secundaria">
                <img class="img-fluid" src="../../../assets/img/single_producto_img3.png" alt="">
            </div>
            <div class="col-md-3 producto_imagen_secundaria">
                <img class="img-fluid" src="../../../assets/img/single_producto_img4.png" alt="">
             </div>
        </div>
    </div>
    <!-- Solo info del producto -->
    <div class="col-md-4 producto_info">
        <h1>{{product.name}}</h1>
        <p>{{product.description}}</p>
        <h5>L. {{product.price}}</h5>
    </div>
    <!-- Acciones para con el producto -->
    <div class="col-md-4 producto_agregar">
        <button (click)="agregarCarrito(product.id)"> <img src="../../../assets/img/shopping_cart.png" alt=""> Agregar al <br>carrito</button>
    </div>

    <hr>
</div>

<!-- RAKING Y COMENTARIOS DEL PRODUCTO -->
<div class="row raking_comentarios">
    <div class="col-md-2 raking_anuncio">
        <div class="row ranking">
            <div class="col-md-12">
                <h6>Ranking</h6>
                <p>4/5</p>
            </div>
        </div>
        <div class="row anuncios">
            <div class="col-md-12 anuncio">
                <p>Anuncio</p>
            </div>
        </div>
    </div>
    <div class="col-md-10 comentarios">
        <div class="row">
            <div class="col-md-12 titulo_comentario">
                <p>Comentarios:</p>
            </div>
        </div>
        <div class="row comentario_info">
            <div class="col-md-1 cliente_imagen">
                <img src="../../../assets/img/cliente_comentario1.png" alt="">
            </div>
            <div class="col-md-11 cliente_comentario">
                <p>Vestibulum nec iaculis lorem, nec mattis nulla. Vestibulum iaculis, diam a bibendum fringilla, lorem ligula pharetra augue, ut condimentum nibh sapien quis leo.</p>
            </div>
        </div>
        <div class="row comentario_info">
            <div class="col-md-1 cliente_imagen">
                <img src="../../../assets/img/cliente_comentario2.png" alt="">
            </div>
            <div class="col-md-11 cliente_comentario">
                <p>Vestibulum nec iaculis lorem, nec mattis nulla. Vestibulum iaculis, diam a bibendum fringilla, lorem ligula pharetra augue, ut condimentum nibh sapien quis leo.</p>
            </div>
        </div>
        <div class="row comentario_info">
            <div class="col-md-1 cliente_imagen">
                <img src="../../../assets/img/cliente_comentario3.png" alt="">
            </div>
            <div class="col-md-11 cliente_comentario">
                <p>Vestibulum nec iaculis lorem, nec mattis nulla. Vestibulum iaculis, diam a bibendum fringilla, lorem ligula pharetra augue, ut condimentum nibh sapien quis leo.</p>
            </div>
        </div>
        <div class="row comentario_info">
            <div class="col-md-1 cliente_imagen">
                <img src="../../../assets/img/cliente_comentario4.png" alt="">
            </div>
            <div class="col-md-11 cliente_comentario">
                <p>Vestibulum nec iaculis lorem, nec mattis nulla. Vestibulum iaculis, diam a bibendum fringilla, lorem ligula pharetra augue, ut condimentum nibh sapien quis leo.</p>
            </div>
        </div>
    </div>
</div>

